*/
!external
!include
!predefined
predefined/*/*.envi
predefined/*/*.envigz
predefined/*/*.idr
include/*.knitted
devel*.*
*.knitted
clean_before_upload.R
deamon.bat
deploy.R
industry.R
_*.*
*.txt
FarMenu.ini
SciTE.session 
.Renviron
