.leaflet-container {
    background-color: #fff;
}
.info.legend{
    background-color: #EEEA;
}
.marker-icon,
.marker-icon:focus {
  border: 1px solid #33ff88 !important;
}
.dataTables_info .form-control {
   height: 24px;
}
.dataTables_filter .form-control {
   font-size: 100%;
   height: 24px;
   margin-top: -1em;
}
.dataTables_length .custom-select {
   height: 24px;
   padding: 0;
   font-size: 100%;
}
.dataTables_paginate {
   margin-top: -6px !important;
}
.dataTables_paginate .page-link {
   padding-top: 2px;
   padding-bottom: 2px;
}
#cfmeta, #industrymeta {
   font-size: 150%;
}
#omitPercent-label {
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}
#switchCFzzz {
   margin-top: 1.6em;
   margin-left: -0.6em;
}
.table.dataTable tbody td.active,
.table.dataTable tbody tr.active td {
   background-color: white !important;
   color: black !important;
   font-weight: normal;
   box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15) !important;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.table.dataTable tbody td,
.table.dataTable tbody tr td {
  /* color: #999 !important;*/
}
table.dataTable > tbody > tr > * {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.00) !important;
}
.selectize-dropdown .optgroup-header {
   font-size: 120%;
}
.flexfill-item.flowing-content-shim.flowing-content-container {
   top: 18px !important;
   overflow-y: hidden;
}
.flowing-content-container:not(.sbframe-commentary) {
   padding-bottom: 4px;
   overflow-y: hidden;
}
.dataTable tfoot tr th {
   background-color: white;
}
@media notprint, notscreen and (max-width: 1268px) and (min-width: 769px) {
   body {
      width: 100%;
   }
   .navbar {
      width: 99%;
      padding-right: 12em;
   }
   .navbar-right {
      max-width: 300px !important;
   }
   .dataTables_scrollBody {
      height: 514px !important;
      max-height: 514px !important;
   }
}
table.overcontent-dev {
   font-size: 100%
}
table.overcontent-dev thead th {
   font-weight: bold !important;
  /* color: red !important;*/
   transform: rotate(180deg);
   writing-mode: vertical-lr;
   text-orientation: mixed;
   direction: rtl;
   vertical-align: top !important;
   text-align: center !important;
}
table.overcontent thead th {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important; /* 4 */
  padding-right: 8px !important; /* 12 */
}
table.overcontent tbody td {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important; /* 10 */
  padding-right: 8px !important; /* 6 */
}
.areabutton {
   margin-top: 1.6em;
   margin-bottom: 1.6em;
}
.linkbutton {
   background-color: orange;
   padding-left: 0.6em;
   padding-right: 0.6em;
   padding-top: 0.6em;
   padding-bottom: 0.6em;
   color: white;
   text-align: center;
}
.linkbutton.green, .linkbutton.annual {
   background-color: green;
}
.linkbutton.red {
   background-color: darkred;
}
.linkbutton.blue, .linkbutton.details, .linkbutton.desc {
   background-color: darkblue;
}
.linkbutton.brown, .linkbutton.list {
   background-color: brown;
}
.linkbutton.cross {
   background-color: darkcyan;
}
.linkbutton.comment {
   background-color: slategray;
}
.linkbutton.map {
   background-color: darkmagenta;
}
.linkbutton.grey, .linkbutton.hide {
   background-color: #ddd;
}
.linkbutton a {
   color: white;
}
img[data-width^=ursa] {
   opacity: 0.1
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
}
@font-face {
   font-family: 'wwf';
   src: url(https://nplatonov.github.io/chicory/wwf.ttf) format('truetype');
}
body {
   font-family: 'zzzOswald' ,'Roboto Condensed', 'Segoe UI', sans-serif;
}
h1, h2, h1 a, h1 a:hover, h1 a:visited,
h3, h4 {
   font-family: wwf, 'Roboto Condensed', 'Segoe UI', sans-serif;
   color: black;
}
h1 {
   text-transform: uppercase;
}
.navbar-brand a {
   color: #000;
}
.navbar-brand a:hover {
   color: #000;
}
.navbar-header .navbar-logo {
   display: inline-block;
}
.wwf {
   font-family: wwf;
   font-size: 105%;
}
.admin, .admin a {
   color: transparent;
}
/*
.flowing-content-container {
   overflow: hidden; 
}
*/
.linebutton {
   overflow: hidden;
   padding-bottom: 12px;
   padding-top: 12px;
}
.form-group {
   margin-bottom: 0px;
}
.dropup .selectize-dropdown {
  bottom: 100% !important; 
  top: auto !important;
}
@media screen and (max-width: 1269px) {
   .navbar::before {
      content: 'WARNING: This application has very limited support for current width of your browser, less than 1270 pixels. You can try to either maximize window or reduce zoom (Ctlr-minus once or twice) in your browser.';
      display: block;
      position: relative;
      padding-top: 0px;
      top: -13px;
      color: #A00;
      font-size: 1.4em;
      margin: 10px;
      background-color: #FFC;
   }
   .failured {
      display: none;
   }
}
@media screen and (min-width: 1269px) {
   .navbar-brand::after, .navbar-author:empty:before {
      content: '';  /* '\3009' */
      color: #ccc;
      font-size: 38px;
      display: contents;
      position: relative;
      top: 6px;
   }
}
